@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<GIAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


@foreach (var giay in Model)
{
    <div class="single-product">
        <div class="product-f-image">
            <img alt="@giay.TenGiay" src="~/Hinhsanpham/@giay.Anhbia" style=" height: 300px; object-fit: cover;">
            <div class="product-hover">
                <a href="@Url.Action("ThemGiohang","GioHang",new { @iMaGiay = giay.MaGiay, @strURL=Request.Url.ToString()})" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a>
                <a href="@Url.Action("Details","ShopGiay",new { id = giay.MaGiay})" class="view-details-link"><i class="fa fa-link"></i> Chi tiết</a>
            </div>
        </div>

        <h2><a href="@Url.Action("Details","ShopGiay",new { id = giay.MaGiay})"> @giay.TenGiay</a></h2>

        <div class="product-carousel-price">
            <ins>@giay.Giaban</ins>
        </div>
    </div>
}

@*<script>
    document.querySelector('.add-to-cart-link').addEventListener('click', function () {
        alert("Bạn đã thêm sản phẩm vào giỏ hàng.")
    });
</script>*@



